/* custom fonts */
@font-face {
  font-family: Winky;
  src: url(/public/Fonts/WinkyRough-SemiBold.ttf);
}
@font-face {
  font-family: playFair;
  src: url(/public/Fonts/PlayfairDisplay-Black.ttf);
}

body{
  font-family: playFair;
  background: linear-gradient(135deg,rgb(91, 164, 109),rgb(190, 91, 171),rgb(162, 112, 170),rgb(230, 112, 136),rgb(91, 164, 109));
}
.container{
  height: 100dvh;
    display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  padding: 30px;
  border-radius: 30px;
  background: linear-gradient(90deg ,#880e4f,#283593,#e91e63);
  color:#fff;
  box-shadow: 2px 5px 3px #ef9a9a;
  /* border: 1px solid #345; */

}
.city{
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
.status
{
  display: flex;
  justify-content: left;
  gap: 20px;
}
.degree{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.translation{
  color: white !important;
  margin: 10px !important;
  text-transform: capitalize !important;
}